body{
    text-align: center;
}
h1{
    font-size: 50px;
}
.container{
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 4rem;
    width: 400px;
    /* background-color: aqua; */
}
.calculator-display{
    position: relative;
}
.calculator-display input{
    height: 120px;
    width: 400px;
    text-align: right;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
    background-color: red;
    color: rgb(78, 75, 75);
    padding: 0 10px;
}
.son-islem{
    position: absolute;
    font-size: 1.8rem;
    color: rgb(73, 73, 73);
    right: 5%;
}
.calculator-buttons{
    width: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.calculator-buttons button{
    height: 70px;
    width: 70px;
    font-size: 2rem;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
button:last-child{
    background-color: red;
    color: white;
}
button:hover{
    cursor: pointer;
    background-color: 