




.chk-mode:checked +.btn-mode{
transform: rotate(180deg);
color: green;
}

.btn-mode{
/* transform: rotate(180deg); */
color: red;
transition: all 0.5s;
}

.chk-mode{
    display: none;

}
.chk-mode:checked +.btn-mode +.menu {

display:none;

}



.container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    
    
}


.menu ul{
    list-style-type: none;
  padding: 0;
  margin: 0;
    line-height: 30px;
    
}

mmenu li{
  padding: 0;
}

.menu ul li:first-child{
background-color: rgb(75, 72, 72);
}
.menu ul li a{
    text-decoration: none;
    padding:10px 30px;
    color: white;
    transition: all 1s;
    background-color: gray;
    display: block;
    width: 150px;

}
.menu ul li a::before{
    content: "::  ";
    padding-right: 5px;
}
.menu ul li a::after{
    content: "> ";
    padding-left: 15px;
}

.menu ul li a:hover{
    background-color: black;
    font-size: 1.2rem;
   
}
